body {
    background: #fff;
    font: normal 18px/1.5 "Arial";
}
.flex-align-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.toggle-btn {
    text-decoration: none;
    color: #333;
    background: #efefef;
    width: 6rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
}
.toggle-btn:hover {
    background: #005580;
    color: white;
}
.toggle-btn:first-child {    
    border-radius: 0.3rem 0 0 0.3rem;
}
.toggle-btn:last-child {    
    border-radius: 0 0.3rem 0.3rem 0;
}
.toggle-btn.active {
    background: #0074b0;
    color: white;
}
movie-detail {
    display: flex;
    border-radius: 1rem;
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    min-height: 200px;
    background: #efefef;
}
.movie-info {
    flex: 1 1 70%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.movie-title {
    font-size: 28px;
    margin: 0;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid #999;
    line-height: 1;
}
.movie-poster {
    min-width: 120px;
    flex: 1 0 20%;
}
.movie-poster > img {
    width: 100%;
    /* max-height: 300px; */
    height: auto;
    border-radius: .4rem;
}

.movie-specs {
    display: flex;
    justify-content: space-between;
}

.movie-rating {
    color: #999;
    padding: 0rem 0.5rem;
    border: 0.1rem solid #999;
    border-radius: 0.3rem;
    margin: .3rem 0;
    font-family: "serif";
}

.align-start, .align-end {
    display: flex;
    align-items: center;
}

.movie-runtime {
    margin-left: 1rem;
}

a.imdb-link {
    text-decoration: none;
    color: white;
    background: #edbb5e;
    width: 10rem;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.movie-description {
    flex: 1 0 auto;
    margin-top:  .4rem;
}